body {  
  font-size: 1.125rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;  
  font-family: 'Yusei Magic', sans-serif;
  box-sizing: border-box;
}
.navbar {
  background-color: #C8B6A2;  
  margin-top: 0 !important;
  margin-bottom: 0 !important;
	padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.logo-img {
  height: 60px;
}
.logo-text { 
  font-family: 'Indie Flower', cursive;
  font-size: 1.8rem;
}

/* === MAIN SECTION === */

.breadcrumb-list { 
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 1rem 0 0 0;
  list-style: none;
  li {    
    font-size: 0.85rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;    
  }
}

.add-button {
  background-color: #FF9B64;
  &:hover {
    color: white;
    background-color: #154C12;
  }
}





